<app-header class="nav"></app-header>
<div class="mainContainer row">
<div class="imageContainer col-12 col-md-6">
  <!-- <div *ngFor="let image of products.attributes.ProductImage.data" -->
<img class="image" id="imageBack" [alt]="products.attributes.Title" [src]="products.attributes.ProductImageBack.data.attributes.formats.small.url"/>

 <img class="image" id="imageFront" [alt]="products.attributes.Title" [src]="products.attributes.ProductImageFront.data.attributes.formats.small.url"/>
 <!-- {{products[0] | json}} -->
</div>

 <div class="productDetail col-12 col-md-6">
   <h2 class="productName">{{products.attributes.Title}}</h2>

   <div class="priceContainer row">
     <p class="originalPrice"> ${{products.attributes.OriginalPrice}}</p>
     <p class="price"> ${{products.attributes.Price}}</p>
   </div>

   <div class="input-group">
    <input type="button" value="-" class="button-minus" (click)="minus()" data-field="quantity">
    <input type="number" [ngModel]="number" #quantity step="1" max="" value="1" name="quantity" class="quantity-field">
    <input type="button" value="+" class="button-plus" (click)="plus()" data-field="quantity">
  </div>

   <button class="cta">Add To Bag</button>
 </div>
<!-- <a routerLink ="/products">Go Back</a> -->


<div class="productDescription col-12 col-md-6">
  <p>Product detail:</p>
  {{products.attributes.Description}}
</div>

</div>


