
// @font-face {
//   font-family: font1 ;
//   src: url(./assets/info.txt);
// }

@font-face {
  font-family: karelle ;
  src: url(../../../assets/greenImg/Karelledemo-vmZA4.otf);
}


p{
  font-family: 'Karla', sans-serif;
}

h1,h2,h3{
  font-family:karelle;
}



@mixin center_center($direction:row){
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:$direction
}

.title{
  font-family: 'Karla', sans-serif;
  font-weight:bold;
  min-height:5vw;
  margin-top:1em;


}


.productName{
  font-size:25px;
  margin-top:10%;
  text-align:center;
}



.mainContainer{
//  @include center_center(column);
width:80%;
margin:10vh auto 20vh;
}



// h2{
//   font-size:clamp(16px,1.75em,20px);
// }

.image{
  // width:20vw;
  // min-height:300px;
  object-fit:cover;
  position:absolute;
  object-position:center;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

#imageFront:hover {
  transition:opacity 1s;
  opacity:0;
  }

  #imageFront{
    transition:opacity 1s;
    opacity:1;
  }



.imageContainer{
  position:relative;
  width:100%;
  min-height:500px;
  // margin-top:10vw;

}

.productDetail{
  @include center_center(column);
}

.description{
  min-height:clapm(180px, 30vh, 300px);
  min-width:50%;
  margin:10% auto 0;

  // display:flex;
  // align-items:center;

}

.productDescription{
  margin-top:20%;
}

.listContainer{
  text-align:center;
}


.priceContainer{
  display:flex;
  justify-content:center;
  // margin-top:5%;
     p{
      width:50%;
      font-size:25px;
      text-align:center;
     }
}

.originalPrice{
  text-decoration: line-through;
  text-decoration-color:#be9852;
  font-family:font1;
}

select{
  width:30%;
  margin:2em auto;
  // margin-bottom:2em;
}

.stock{
  color:green;
  font-family: 'Karla', sans-serif;

}

.noStock{
  color:red;

}

.displayNone{
    display:none;
}




p{
  font-family: 'Karla', sans-serif;
}

.cta{
  background-color:#5a7c5a;
  border:none;
  padding:1em 2em;
  color:white;
  // font-family: 'Karla', sans-serif;
  font-family:karelle;
  font-size:1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background: linear-gradient(to left, #5a7c5a 50%, #b7ceb7  50%);
  background-size: 200% 100%;
  background-position:right bottom;
  width:50%;
  border-radius:10px;
  // margin-top:5%;
}

.cta:hover{
 background-position:left bottom;
 transition:all 1s ease;
  // background-color:#afc1af;
  // transition: all .5s ease-out;
  // background-position: left bottom;
}


input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
  display:flex;
  justify-content:center;
}

.input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}



@media(min-width:768px){


  .description{
    min-height:200px;
    max-width:80%;

  }

  .productDescription{
    margin-top:5%;
  }

  .priceContainer{
    margin-top:5%;
  }

  .cta{
    margin-top:10%;
  }

  .productName{
    font-size:25px;
  }

  .image{
    // width:20vw;
    // min-height:300px;
    object-fit:contain;
  }

  .imageContainer{
    height:400px;
    width:50%;

  }

  .description{
    width:80%;
  }
  select{
    width:20%;
  }
}

@media(min-width:1000px){
//   .description{
//     min-height:250px;
// }

.imageContainer{
  height:500px;

}

.description{
  width:100%;

}

}
