<!-- <header class="headerBg" [style.background-image]="'url(./assets/greenAroundTheWorld.jpg)'"> -->
  <header>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><img class="hamburgerIcon" src="./assets/greenImg/bars-solid.svg" alt="hamburger menu icon"></span>
    </button>

    <!-- <div class="col-sm-9 col-md-12 logo">
      <a routerLink="/">
      <img class="logo" alt="Green Around The World Logo" [src]="logo">
      <h1 class="headerBrandName">{{name}}</h1>
      </a>
    </div> -->

    <div class="row navContainer">
      <!-- <div class="logo d-none d-md-block col-3 ">
        <a routerLink="/">
        <img class="logo" alt="Green Around The World Logo" [src]="logo">

        </a>
      </div> -->
      <nav class=" col-8 navbar navbar-expand-md navbar-light">

        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->

          <div class="collapse navbar-collapse row" id="navbarSupportedContent">
            <div class="logo d-none d-md-block col-3">
              <a routerLink="/greenaroundtheworld/home">
              <img class="logo" alt="Green Around The World Logo" [src]="logo">
              <!-- <h1 class="headerBrandName">{{name}}</h1> -->
              </a>
            </div>
            <ul class="navbarItemsMiddle navbar-nav me-auto mb-2 mb-lg-0 col-6">

              <li class="nav-item">
                <a class="nav-link nav-link-shop active" routerLink="/green-products">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active nav-link-about" aria-current="page" routerLink="/green-about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active nav-link-contact" href="#">Contact</a>
              </li>
            </ul>
            <ul class=" col-3 navbarItemsRight navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active position-relative" routerLink="cart"><img src='../../assets/greenImg/shoppingbagicon.svg'>  <span class="position-absolute start-100 translate-middle badge rounded-pill bg-danger">
                  <!-- {{cartQty}} -->0
                  <span class="visually-hidden">unread messages</span>
                  </span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#"><img src='../../assets/greenImg/profileicon.svg'>

                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#"><img src='../../assets/greenImg/searchicon.svg'></a>
              </li>
            </ul>
            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->


                <!-- <a class="adminBtn" routerLink="/login">Admin</a> -->



            </div>

        </div>
      </nav>
    </div>

</header>


