


<ul class="social">
  <li><a target="_blank" href="https://www.linkedin.com/in/sachi-goto/"><img src="../../assets/logos/Linkedin.png" alt="Linked-in icon" class="logos"></a></li>
  <li><a target="_blank" href="https://github.com/SachiGoto"><img src="/assets/logos/GitHub.png" alt="Github icon " class="logos"></a></li>
  <li><a target="_blank" href="https://www.behance.net/vanartsvanarts3"><img src="/assets/logos/Behance.png" alg="Behance icon" class="logos"></a></li>
</ul>

<!-- <ul class="social">
  <li><a target="_blank" [href]="linkedIn"><img [src]="linkedInIcon" alt="Linked-in icon" class="logos"></a></li>
  <li><a target="_blank" [href]="github"><img [src]="githubIcon" alt="Github icon " class="logos"></a></li>
  <li><a target="_blank" [href]="behance"><img [src]="behanceIcon" alg="Behance icon" class="logos"></a></li>
</ul> -->
