.nav-link {
  z-index: 10000;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: fadein 4s;
}

.fieldBg {
  position: fixed;
  transform: translateY(0);
  left: 0;
  bottom: 0;
  width: 100vw;
  animation: fadein 4s;
}

.field {
  position: fixed;
  bottom: 0;
  height: 70vh;
  width: 100%;
}

#mountain4 {
  transform: translateY(18%);
  animation: moveup 5s ease-in-out infinite;
}

#mountain1 {
  transform: translateY(18%);
  animation: moveup 8s ease-in-out infinite;
}

#mountain2 {
  transform: translateY(18%);
  animation: moveup2 7s ease-in-out infinite;
}

#mountain3 {
  transform: translateY(18%);
  animation: moveup2 3s ease-in-out infinite;
}

.aboutMeContainer {
  display: flex;
  justify-content: center;
  // align-items:center;
  width: 100%;
  margin: 0 auto;
  margin-top: 10vh;
}

.aboutMeContent {
  flex-direction: column;
  border-radius: 10px;
  align-self: end;
  animation: aboutMoveToRight 3s;
  padding: 2em 1em;
  width: 90%;
  p {
    line-height: 2.5;
    max-width: 500px;
  }
}

.aboutMeImg {
  // height:50vh;
  animation: aboutMoveToLeft 3s;
  transform: translate(10px, -20px);
  display: flex;
  justify-content: center;

  .aboutMeImage {
    width: 70%;
    height: 70%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    max-width: 300px;
  }
}

.langBtn {
  min-height: 45px;
  min-width: 111px;
  background-color: var(--beige);
  color: var(--orange);
  border: none;
  font-weight: bold;
  border-radius: 30px;
  position: absolute;
  top: 20px;
  right: 100px;
  z-index: 500;
}

.langBtn:hover {
  background-color: var(--orange);

  color: var(--beige);
}

.buttons {
  position: fixed;
  bottom: 10%;
  width: 100%;
  justify-content: center;
  z-index: 1000;

  .btn {
    animation: none;
  }
}

.educationContainer {
  width: 80vw;
  margin: 10% auto;
  flex-direction: column;
  .educationTitle {
    margin-bottom: 5%;
  }

  .educationSubContainer {
    display: flex;
    justify-content: center;
    .educationDate {
      display: flex;
    }
  }
}

.educationSubContainer {
  margin-bottom: 5%;
  border-radius: 10px;
}

.skillsTitle {
  text-align: center;
  width: 100vw;
  margin-bottom: 5%;
}

.skillsContainer {
  width: 100vw;
  margin: 0 auto;
  justify-content: center;

  h2 {
    text-align: center;
  }
}

.toolBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  min-height: 100px;
  justify-content: start;
  align-items: center;
  padding: 3%;
  border-radius: 10px;

  h3 {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  div {
    // background-color:white;
    height: 10vh;
  }

  .toolicon {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 60px;
      height: 60px;
      object-fit: contain;
      margin: 2%;
    }
  }
}

.frontendTools {
  min-height: 300px;
}

.toolsIwantToLearn {
  width: 80%;
  margin: 5% auto;
  justify-content: center;
  max-width: 1000px;
  text-align: center;
}

.fa-solid .fa-solid {
  width: 100px;
  height: 100px;
  color: black;
}

.lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;

  div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
  }
}

.fa-regular {
  font-size: 30px;
}

#orangeflower {
  width: 100px;
  animation: swing ease-in-out 4s infinite alternate;
  transform-origin: bottom center;
  transform-box: fill-box;

  float: left;
  //  z-index:10;
}

#yellowflower {
  transform-origin: bottom center;
  transform-box: fill-box;
  animation: swing2 ease-in-out 4s infinite alternate;
}

#sun {
  transform-origin: bottom center;
  transform-box: fill-box;
  animation: glow 10s infinite ease-in-out;
  stroke-width: 10px;
  stroke-opacity: 0.3;
}

#bush2 {
  transform-origin: bottom center;
  animation: swing 2s infinite ease-in-out alternate;
  transform-box: fill-box;
}

#leaves2,
#leaves4 {
  transform-origin: bottom center;
  animation: swing 5s infinite ease-in-out alternate;
  transform-box: fill-box;
}

@keyframes glow {
  0% {
    transform: scale(1);
    stroke-width: 10px;
    stroke-opacity: 0.3;
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    stroke-width: 30px;
    stroke-opacity: 0.4;
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    stroke-width: 10px;
    stroke-opacity: 0.8;
  }
}

.btn:active {
  border: none;
  background-color: var(--beige) !important;
  a {
    color: var(--orange) !important;
  }
}

.btn:focus {
  transform: translateY(4px);
  border: none;
  background-color: var(--beige) !important;
  a {
    color: var(--orange) !important;
  }
}

.empty {
  width: 100vw;
  height: 50vh;
}

// tooltips

/*== start of code for tooltips ==*/
.tool {
  cursor: default;
  position: relative;
  text-align: center;
}

/*== common styles for both parts of tool tip ==*/
.tool::before,
.tool::after {
  left: 50%;
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 100;
}

/*== pointer tip ==*/
.tool::before {
  border-style: solid;
  border-width: 1em 0.75em 0 0.75em;
  border-color: #3e474f transparent transparent transparent;
  bottom: 100%;
  content: "";
  margin-left: -0.5em;
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26),
    opacity 0.65s 0.5s;
  transform: scale(0.6) translateY(-90%);
}

.tool:hover::before,
.tool:focus::before {
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
}

/*== speech bubble ==*/
.tool::after {
  background: #3e474f;
  border-radius: 0.25em;
  bottom: 180%;
  color: #edeff0;
  content: attr(data-tip);
  margin-left: -8.75em;
  padding: 1em;
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
  transform: scale(0.6) translateY(50%);
  width: 17.5em;
}

.tool:hover::after,
.tool:focus::after {
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26);
}

.websiteIsMadeWith {
  // background-color:rgba(255, 255, 255,0.8);
  border-radius: 10px;
  padding: 2%;
  width: 80%;
  margin: 5% auto 10% auto;
  display: flex;
  flex-direction: column;

  .listTitle {
    text-align: center;
    margin-top: 10%;
  }

  p {
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
  }
  .fa-medium {
    margin-left: 10px;
  }

  .lists {
    justify-content: center;
  }
}

.secondaryBtn {
  // background-color:blue;
  animation: none;
}

.sky {
  z-index: -100;
}

.mainContainer,
.fadeinContainer {
  z-index: 50;
}

.fieldBg,
.field {
  z-index: 200;
}

.fullbio {
  p {
    a {
      text-decoration: none !important;
    }
  }
}

@media (min-width: 500px) {
  .lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .lists section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    div {
      margin: 0 10% 10% 10%;
    }
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .langBtn {
    width: 175px;
    top: 30px;
    right: 15px;
  }
  .buttons {
    position: fixed;
    bottom: 50px;
    justify-content: end;
    right: 10%;
    z-index: 1000;

    .btn {
      animation: none;
    }
  }

  .fieldBg {
    // height:600;
    // width:2145;
    // height:800;

    transform: translateY(10vw);
    // margin-top:calc(100vh - 60vh);
  }
  .aboutMeImg {
    // height:50vh;
    // animation: aboutMoveToLeft 3s;
    transform: translate(10px, -10px);
    width: 50%;
    // margin-left:10%;

    img {
      width: 80%;
      object-fit: cover;
      max-width: none;
    }
  }

  .aboutMeContainer {
    // margin-top:15%;
    // margin-top:100px;
    align-items: center;
    margin-top: 8vh;

    width: 90%;
    .aboutMeContent {
      width: 50%;
      P {
        max-width: none;
        line-height: 2;
      }
    }
  }
}

@media (max-width: 768px) {
  .buttons {
    z-index: 150;
    margin-bottom: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btnContainer {
      margin-right: 0 !important;
    }

    .secondaryBtn {
      min-width: 175px;
      margin-top: 50px;
    }
  }
}

@media (min-width: 768px) {
  .websiteIsMadeWith {
    margin: 5% auto 30% auto;
  }
  .aboutMeImage {
    width: 40%;
    height: 40%;
  }
}

@media (min-width: 996px) {
  .langBtn {
    width: 175px;
  }

  .buttons {
    position: fixed;
    bottom: 50px;
    justify-content: center;
    right: 10%;
    z-index: 1000;

    .btn {
      animation: none;
    }
  }

  .fieldBg {
    transform: translateY(15vh);

    // margin-top:calc(100vh - 30vh);
  }

  @keyframes aboutMoveToLeft {
    0% {
      opacity: 0;
      //  transform: translateY(-81%);
      //  transform:translateX(120%)
      transform: translate(100px, -20px);
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      //  transform:translateX(0%)
      //  transform:translate(10px -20px);
      transform: translate(-15px, -23px);
    }
  }

  .aboutMeContainer {
    max-width: 1200px;
    margin-top: 8vh;
    justify-content: center;
    align-items: center;
    // margin-top:150px;
  }
  .aboutMeImg {
    height: 30%;
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    // height:50vh;
    // animation: aboutMoveToLeft 3s;
    transform: translate(-15px, -23px);
    // margin-left:10%;
    // .aboutMeContainer{
    //   width:100%;
    //   justify-content:center;
    // }
    img {
      width: 80%;
      height: 100%;
      object-fit: cover;
      max-width: none;
    }
  }

  .aboutMeContent {
    padding: 2em 3em;
    max-width: 650px;
    width: 50%;
    margin: 0 auto;
    line-height: 2;
  }

  .skillsContainer {
    justify-content: space-around;

    .toolBox {
      padding: 0%;
      max-width: 400px;
    }
  }

  .websiteIsMadeWith {
    // background-color:white;
    border-radius: 10px;
    padding: 2%;
    width: 80%;
    max-width: 1000px;
    margin: 5% auto 30% auto;

    .lists {
      justify-content: center;
    }
  }
}

@media (min-width: 1200px) {
  .fieldBg {
    transform: translateY(20vw);
  }

  .aboutMeContainer {
    // margin-top:calc(7%);
    justify-content: center;
    align-items: center;
  }
}
