<footer class="footer row">

  <div class="leftContainer col-12 col-md-5 mt-3">
    <h1 class="slogan mb-5">All Natural and reusable products</h1>


      <div class="menuContainer row">
        <ul class="col-5">
          <li>Shop</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
        <ul class="col-5">
          <li>FAQ</li>
          <li>Shipping</li>
          <li>Return and refund policy</li>
          <li>My account</li>
          <li>My orders</li>
        </ul>
      </div>
  </div>

    <div class="rightContainer col-12 col-md-5 mt-5">
      <div class="col-8 d-flex flex-column align-items-center">
        <img class="logo" src="../../assets/greenImg/greenlogo.svg">
        <h1 class="footerBrandName">Green around the world</h1>
      </div>
      <p class="col-8 email" >Email: greenworld@natural.ca</p>
      <div class="socialIcons d-flex col-8">
        <img src="../../assets/greenImg/facebookicon.svg" width="40">
        <img src="../../assets/greenImg/instagramicon.svg"  width="40">
      </div>

      <p class="admin"><a routerLink="/login">Admin login</a></p>
    </div>

   <p class="copyright">Copyright &copy; 2022 Green Around The World. All rights Reserved.</p>


  </footer>
