*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
    display:flex;
}

.navbar-container{
    display: flex;
   height:100%;
    // height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
     li{
        width:85px;
        height:50px;
        img{
          width:30px;
        }
     }

     .cart-icon{
      width:60px;
        position:relative;
         .badge{
               position:absolute;
               left:20px;
               padding:3px 8px; 
         }
    }
}







.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}


.mobile-menu-items{
    display:flex;
   
    width: 20%;
    margin-right:15px;

    .cart-icon{
      width:60px;
        position:relative;
         .badge{
               position:absolute;
               left:25px;
               padding:3px 8px; 
         }
    }
    
 
   

    li{
        list-style:none;
        padding:10px;
        // padding:8%;
        // margin:5%;

          img{
            width:30px;
          }

        
      }
}

 .icon-menu-items{
    width: 150px;

 }





  .menu-items-item {
    color: #be9852 !important;

  }

  .menu-items-item:hover{
    color:#597c5a !important;
   
  }
  
  
  @keyframes linethrough {
  
    0%{
      background-position: right -100% bottom 0;
    }50%{
      background-position: left -100% bottom 0;
    }100%{
      background-position: right 100% bottom 0;
    }
  
  
  }
  
  

  
  li a{
    text-align:center;
    font-family:karelle;
    text-decoration:none;
  }
  
  

  
  
  
  @media(min-width:818px){

    .logo{
        width: 80px;
        margin-bottom:2%;
    }


    .hamburgerIcon{
      display:none;
    }
  
    .shop{
      margin-top:15vh;
    }

    .mobile-menu-items{
        display:none;

    }
    .mobile-logo{
        display:none;
        
    }
  
  
  }

 
  
  @media(min-width:997px){
  
  
    .navbar-nav{
     
      width:100%;
    }
  
  
    .iconContainer{
      margin-left:30%;
      display:flex;
      flex-direction:row;
      margin-top:0;
    }
  
    .shop{
      margin-top:0;
     
    }
  }





@media (max-width: 818px){

    .menu-items{
        width:100%;
        z-index:200;
    }
    .navbar{
        opacity: 0.95;
    }

    .container{
        margin: 0;
    }
    

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        width:50%;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
  
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width:300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  3px 0px 0px 0px #aaaaaa52;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }




.logo{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2.5rem;
    order: 1;
    font-size: 2.3rem;
    max-width:150px;
    width:70%;
  
    img{
        object-fit:contain;
        width:100%;
        height:100%;
        margin:5% 0 ; 
    }
      
}



    .mobile-logo{
        display:block;
        position: fixed;
        left: 50%;
        top:1rem;
        transform:translate(-50%);
        z-index:100;
        width:60px;
        img{
            object-fit:contain;
            width:100%;
            height:100%;
            margin:5% 0 ; 
        }
        
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}
  


// @mixin center_center(){
//   display:flex;
//   justify-content:center;
//   align-items:center;
// }

// header{
//   width:100%;
//   background-color:rgba(255, 255, 255, 0.8);
// }

// .headerBrandName{
//   color: #5a7c5a;
//   font-size:20px;
// }
// .bigContainer{
//   @include center_center();
// }

// .logo{

//   @include center_center();


//     width:150px;
  
//   h1{
//     font-size:1.5vw;
//   }
// }

// .navbar{
//   width: 100vw;
//   @include center_center();
// }

// .iconContainer{
//   display:flex;
//   flex-direction: column;
//   margin-top:5%;
// }

// .navbar{
//   padding-bottom:0;
//   padding-top:0;
// }

// .shop{
//   margin-top:15vh;
// }

// .navbarItemsMiddle{
//   display:flex;
//   justify-content:center;
// }

// .navbarItemsRight{
//   display:flex;
//   justify-content:center;
// }

// .nav-item{
//   margin-right:25px;
// }

// .nav-link{
//   display: inline-block;
//   padding-bottom:2px;
//   background-image: linear-gradient(#597c5a, #597c5a);
//   background-position: right -100% bottom 0;
//   background-size: 200% 2px;
//   background-repeat: no-repeat;
//   font-size:clamp(18px ,1.75vw, 25px);
//   color: #be9852 !important;
//   font-family: 'Lato', sans-serif;

//      img{
//       width:40px;
//      }
// }

// .nav-link-shop:hover, .nav-link-about:hover, .nav-link-contact:hover{
//   animation: linethrough 2s;
//   animation-fill-mode: forwards;
// }


// @keyframes linethrough {

//   0%{
//     background-position: right -100% bottom 0;
//   }50%{
//     background-position: left -100% bottom 0;
//   }100%{
//     background-position: right 100% bottom 0;
//   }


// }


// a{
//    text-decoration:none;
//  }



// h1{
//   text-align:center;
//   font-family:karelle;
// }

// img{
//   object-fit:cover;
//   width:100%;
//   height:100%;

// }

// .navbar-toggler{
//   position: absolute;
//   top: 1em;
//   left: 1em;

// }




// @media(min-width:768px){
//   .hamburgerIcon{
//     display:none;
//   }

//   .shop{
//     margin-top:15vh;
//   }


// }

// @media(min-width:997px){


//   .navbar-nav{
   
//     width:100%;
//   }


//   .iconContainer{
//     margin-left:30%;
//     display:flex;
//     flex-direction:row;
//     margin-top:0;
//   }

//   .shop{
//     margin-top:0;
//   }
// }

