<header>
    <!-- <div class="logo"> <a routerLink="/greenaroundtheworld">
        <img
          class="logo"
          alt="Green Around The World Logo"
          src="../../../assets/greenImg/greenlogo.svg"
        />
      </a></div> -->

    <nav class="navbar pt-3">
      <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a class="menu-items-item" routerLink="/greenaroundtheworld">Home</a></li>
               
                <li> <a
                    class="menu-items-item"
                    aria-current="page"
                    routerLink="/green-about"
                    >About Us</a
                  ></li>
                <li> <a class="menu-items-item" routerLink="/green-products"
                    >Shop</a
                  ></li>
                <li> <a
                    class="menu-items-item"
                    aria-current="page"
                    routerLink="/green-about"
                    >Contact</a
                  ></li>
        
            </ul>
            <div class="logo"><a routerLink="/greenaroundtheworld">
                <img
                  class="logo"
                  alt="Green Around The World Logo"
                  src="../../../assets/greenImg/greenicon.png"
                />
              </a></div>
    

       <ul class="menu-items icon-menu-items">
        <li class="icon cart-icon" > <a routerLink="#"
            ><img src="../../../assets/greenImg/shoppingbagicon.svg" />
            <span
              class="position-absolute start-100 translate-middle badge rounded-pill bg-danger"
            >
              0
              <span class="visually-hidden">unread messages</span>
            </span></a
          ></li>
       
        <li class="icon" >  <a href="#"
            ><img src="../../../assets/greenImg/profileicon.svg" />
                    </a></li>
      
        <li class="icon"> <a  href="#"
            ><img src="../../../assets/greenImg/searchicon.svg"
          /></a></li>

    </ul>
</div>



<ul class="mobile-menu-items">
    <li class="icon cart-icon" > <a routerLink="#"
        ><img src="../../../assets/greenImg/shoppingbagicon.svg" />
        <span
          class="position-absolute start-100 translate-middle badge rounded-pill bg-danger"
        >
          0
          <span class="visually-hidden">unread messages</span>
        </span></a
      ></li>
   
    <li class="icon" >  <a href="#"
        ><img src="../../../assets/greenImg/profileicon.svg" />
                </a></li>
  
    <li class="icon"> <a  href="#"
        ><img src="../../../assets/greenImg/searchicon.svg"
      /></a></li>

</ul>


            <!-- <div class="iconContainer">
              <div class="nav-item">
                <a class="nav-link active position-relative" routerLink="#"
                  ><img src="../../../assets/greenImg/shoppingbagicon.svg" />
                  <span
                    class="position-absolute start-100 translate-middle badge rounded-pill bg-danger"
                  >
                    0
                    <span class="visually-hidden">unread messages</span>
                  </span></a
                >
                </div>
              <a class="nav-link active" href="#"
              ><img src="../../../assets/greenImg/profileicon.svg" />
                      </a>
              
                      <a class="nav-link active" href="#"
                      ><img src="../../../assets/greenImg/searchicon.svg"
                    /></a>
              
                      </div> -->
    </nav>

    <div class="mobile-logo"><a routerLink="/greenaroundtheworld">
        <img
          
          alt="Green Around The World Logo"
          src="../../../assets/greenImg/greenicon.png"
        />
      </a></div>



<!-- <header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a  class="navbar-brand d-none d-lg-block" routerLink="/greenaroundtheworld">
        <img
          class="logo"
          alt="Green Around The World Logo"
          src="../../../assets/greenImg/greenlogo.svg"
        />
      </a>
    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse shop" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link nav-link-shop active" routerLink="/green-products"
          >Shop</a
        >
        <a
        class="nav-link active nav-link-about"
        aria-current="page"
        routerLink="/green-about"
        >About Us</a
      >
      <a class="nav-link active nav-link-contact" href="/greenaroundtheworld">Contact</a>
 

          <div class="iconContainer">
            <div class="nav-item">
              <a class="nav-link active position-relative" routerLink="#"
                ><img src="../../../assets/greenImg/shoppingbagicon.svg" />
                <span
                  class="position-absolute start-100 translate-middle badge rounded-pill bg-danger"
                >
                  0
                  <span class="visually-hidden">unread messages</span>
                </span></a
              >
              </div>
            <a class="nav-link active" href="#"
            ><img src="../../../assets/greenImg/profileicon.svg" />
                    </a>
            
                    <a class="nav-link active" href="#"
                    ><img src="../../../assets/greenImg/searchicon.svg"
                  /></a>
            
                  <a  class="navbar-brand d-block d-lg-none" routerLink="/greenaroundtheworld">
                    <img
            class="logo"
            alt="Green Around The World Logo"
            src="../../../assets/greenImg/greenlogo.svg"
                    />
                  </a>
                    </div>
          </div>
      </div>
    </div>
  </nav> -->


  <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"
      ><img
        class="hamburgerIcon"
        src="../../../assets/greenImg/bars-solid.svg"
        alt="hamburger menu icon"
    /></span>
  </button>
  <nav class="col-8 navbar navbar-expand-md navbar-light">
    <div class="collapse navbar-collapse row" id="navbarSupportedContent">
      <div class="logo d-none d-md-block col-3">
        <a routerLink="/greenaroundtheworld">
          <img
            class="logo"
            alt="Green Around The World Logo"
            src="../../../assets/greenImg/greenlogo.svg"
          />
        </a>
      </div>
      <ul class="navbarItemsMiddle navbar-nav me-auto mb-2 mb-lg-0 col-6">
        <li class="nav-item">
          <a class="nav-link nav-link-shop active" routerLink="/green-products"
            >Shop</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active nav-link-about"
            aria-current="page"
            routerLink="/green-about"
            >About Us</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-link-contact" href="#">Contact</a>
        </li>
      </ul>
      <ul class="col-3 navbarItemsRight navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active position-relative" routerLink="#"
            ><img src="../../../assets/greenImg/shoppingbagicon.svg" />
            <span
              class="position-absolute start-100 translate-middle badge rounded-pill bg-danger"
            >
              {{cartQty}} 0
              <span class="visually-hidden">unread messages</span>
            </span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"
            ><img src="../../../assets/greenImg/profileicon.svg" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"
            ><img src="../../../assets/greenImg/searchicon.svg"
          /></a>
        </li>
      </ul>
    </div>
  </nav>  -->
<!-- </header> -->
